body {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
